#headerLogo {
  width: 5%;
  border-right: 0.5px grey solid;
  margin: 0;
  border-top: none;
  border-left: none;
}

body {
  margin: 0;
}

#header {
  width: 100%;
  border-bottom: 1px grey solid;
  display: flex;
  background-color: rgb(210, 210, 210, 0.7);
}

#headerText {
  width: 100%;
  margin: 0;
  margin-left: 1%;
  font-family: "Copperplate", fantasy;
  font-size: 200%;
  text-align: center;
  line-height: 0;
}

#navigation {
  width: 100%;
  height: 50px;
  border-bottom: 0.1px grey solid;
  visibility: hidden;
}

#navigationBars {
  width: 3.2%;
  cursor: pointer;
  visibility: visible;
}

.newsBlock {
  border: 1px black solid;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  height: 300px;
}

.title {
  text-align: center;
  border-bottom: 0.1px grey solid;

}
